body
{
text-align: center;
}
h1
{
letter-spacing: 0,1em;
font-size: 55px;
color:white;
text-align: center;
border-radius: 5px;
border-top: 5px white ridge;
border-bottom: 5px white ridge;
text-shadow: 2px 2px 2px blue;
}
nav
{
color: white;
}
header
{
background-image: url("https://w0.peakpx.com/wallpaper/313/749/HD-wallpaper-green-tennis-ball-on-ground.jpg");
}
h2
{
border-radius: 5px
border-top: 5px white ridge;
border-bottom: 5px white ridge;
letter-spacing: 0,1em;
color:white;
text-shadow: 2px 2px 2px blue;
}
h3
{
letter-spacing: 0,1em;
color:blue;
text-shadow: 2px 2px 2px white;
}

a
{
color: blue;
}
a:hover
{
color: white;
font-size: 15px;
}
